.container {
    margin: 0;
    padding: 0;
    font: sans-serif;
    width: 100vw;
    height: 100%;
    display: grid;
    place-items: center;
}

.card {
    background-color: #e0dddd;
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 17rem;
    position: relative;
    border-radius: 1rem;
}

.chip-img {
    width: 2.6rem;
    height: 2.5rem;
    right: 2rem;
}

.top-card {
    display: flex;
}

.shaba-number {
    position: absolute;
    font-size: 0.8rem;
    color: #eee;
    z-index: 10;
    left: 5rem;
    top: 7rem;
}

.top-card p {
    position: absolute;
    right: 3rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    color: rgb(195, 12, 12);
}

.logo-img {
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: 0rem;
}

.bottom-card {
    background-image: linear-gradient(0deg, rgb(4, 102, 9), rgb(34, 2, 175));
    border-radius: 1rem;
    height: 14rem;
    margin: 0.5rem;
}

.mountain-img {
    width: 30rem;
    height: 20rem;
    position: absolute;
    top: -1rem;
    left: -2.5rem;
}

.info-top {
    background-color: #bcbaba;
    border-radius: 1rem;
    height: 4.5rem;
    margin-top: 6.2rem;
    position: relative;
    width: 23rem;
    margin-left: 0.5rem;
    opacity: 0.8;
}

.card-number {
    position: absolute;
    top: -1rem;
    font-size: 1.5rem;
    margin-left: 3rem;
    font-weight: bold;
}

.dn {
    display: flex;
    position: absolute;
    bottom: -1rem;
    margin-left: 1rem;
}

.date {
    padding-left: 9rem;
}

.info-bottom {
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 2rem;
    padding: 0.4rem;
    margin-left: 0.5rem;
    width: 22rem;
    height: 1rem;
    background-color: #b8b5b5;
    bottom: 1rem;
    opacity: 0.8;
}